<h1>Editing Session Item</h1>

<%= render 'form' %>
<div class="row">
	<%= link_to 'Item', @session_item, :class => "button" %>
	<%= link_to 'List of Session Items', session_items_path, :class => "button" %>
</div>