<h1>Editing item</h1>

<%= render 'form' %>

<div class="row">
	<%= link_to 'Back to Item Details', @item, :class => "button" %> 
	<%= link_to 'List of Items', items_path, :class => "button" %>
</div>
